<article class="projectsHomepage">
    <h2>Projecten</h2>
    <ul>
        {% for vak in randomVakken %}
        <li>
            <figure>
                <img src="{{ vak.image.src }}" alt="{{ vak.image.alt }}">
                <figcaption>
                    <h3>{{ vak.name }}</h3>
                    <p>{{ vak.description }}</p>
                    <a href="/projecten/{{ id }}">Lees meer</a>
                </figcaption>
               
            </figure> 
        </li>
        {% endfor %}
    </ul>
    <a href="/projecten">Zie alle vakken</a>

</article>