{% layout "server/layouts/base.liquid" %}

{% block content %}
  <div class="nerd-wrapper">
    <div class="nerd-container">
      {% if nerd.image %}
        <img class="nerd-image" src="{{ nerd.image.src }}" alt="{{ nerd.image.alt }}">
        {% else %}
        <img class="nerd-image" src="/images/blank.png">
      {% endif %}

      {% if nerd.inleiding %}
        <div class="nerd-intro">
          <h1>{{ nerd.title }}</h1>
          <p>{{ nerd.inleiding }}</p>
        </div>
      {% endif %}
    </div>
    <div class="nerd-content">
      {% for section in nerd.content %}
        <h2>{{ section.titel }}</h2>
        {% for alinea in section.alinea %}
          <p>{{ alinea }}</p>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
