<article>
    <h2>
        Favorite Talker
    </h2>
    <img src="{{ featuredNerd.image.src }}" alt="{{ featuredNerd.image.alt }}">
    <div class="favorite-talker-content">
        <h3>{{ featuredNerd.intro }}</h3>
        <p>{{ featuredNerd.inleiding }}</p>
    </div>
    <a href="/weekly-nerd/{{ featuredNerd.id }}">Lees meer</a>    
</article>