<div class="card">
  <a href="/weekly-nerd/{{ nerd.id }}/">
    {% if nerd.image %}
      <img src="{{ nerd.image.src }}" alt="{{ nerd.image.alt}}" class="card-image">
    {% else %}
      <img src="/images/blank.png" alt="Geen afbeelding beschikbaar" class="card-image">
    {% endif %}
    <h2>{{ nerd.title }}</h2>
    <p>{{ nerd.intro }}</p>
  </a>
</div>
